.page-header .breadcrumb-line:first-child {
    margin-top: 20px !important;;
    margin-bottom: 20px !important;
}
.entry:not(:first-of-type) {
    margin-top: 10px;
}
.glyphicon {
    font-size: 12px;
}
body .modal-header {
    padding: 15px 20px;
}
body .bootstrap-dialog .modal-header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
body .modal-header .close {
    margin-top: -9px;
}
